<ul class="tag-cloud">
	<!-- also can output order by posts count，put order='count.posts desc' after include='' -->
	{{#get 'tags' limit='all' include='count.posts'}}
	{{#foreach tags}}
		{{#if count.posts}}
		<a href="{{url}}" class="tag-item tag-item-size-{{count.posts}}">{{name}}</a>
		{{/if}}
	{{/foreach}}
	{{/get}}	
</ul>